body {
    background: #121212;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container-box {
    background: #1e1e1e;
    padding: 30px;
    border-radius: 12px;
    width: 350px;
    text-align: center;
}

button {
    background: #00eb1f;
    padding: 16px 30px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
}

li {
    padding: 5px 0;
    border-bottom: 1px solid #333;
    color: #ccc;
}
